*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f8f3e7;
color:#431407;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:linear-gradient(to right,#7b1113,#4a090b);
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo-box{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:60px;
height:60px;
border-radius:50%;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav li{
cursor:pointer;
font-weight:bold;
font-size:16px;
}

nav li:hover{
color:#ffd700;
}

.page{
display:none;
padding:20px;
}

.page.active{
display:block;
}

.banner{
width:100%;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.about-box{
background:white;
padding:25px;
border-radius:15px;
line-height:1.9;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.about-box h1{
color:#7b1113;
margin-bottom:15px;
}

.full-menu{
width:100%;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.order-btn{
width:100%;
padding:18px;
background:#15803d;
color:white;
font-size:20px;
font-weight:bold;
border:none;
border-radius:12px;
margin-top:20px;
cursor:pointer;
}

.order-btn:hover{
background:#166534;
}

@media(max-width:768px){
nav{
flex-direction:column;
gap:10px;
}

nav ul{
gap:15px;
}

.logo{
width:50px;
height:50px;
}
}
